<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lasustaffconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lasu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lasu_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LasuStaffConnect">
        <activity android:name=".ConstitutionAcrivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen"/>
        <activity
            android:name=".PActActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".BulletinActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".ReportAnIncidence"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".AboutApp"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".LasuLaw"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".ExamPolicyActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".FinancialActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".PGActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".COSActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".LASGActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Home" />
        <activity
            android:name=".OtherActivity"
            android:exported="true"
            android:theme="@style/Theme.PolicyScreen" />
        <activity
            android:name=".AuthSignIn"
            android:exported="true"
            android:theme="@style/Theme.AuthScreen" />
        <activity
            android:name=".AuthSignUp"
            android:exported="true"
            android:theme="@style/Theme.AuthScreen" />
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:theme="@style/Theme.Welcome" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>